* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.balloons {
  background-size: cover;
  position: relative;
}

.logo img {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 80px;
  width: auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
  -webkit-filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

nav a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-right: 15px; 
  font-size: 20px;
  color: rgb(2, 153, 176);
  padding: 14px;
}

nav a:hover {
  background-color: #fff700;
}

.balloons img {
  width: 100%;
  height: auto;
}

/* Header, nav bar */
.aboutpage {
  background: linear-gradient(to bottom, rgb(226, 253, 255), rgba(8, 231, 231, 0.612));
}

.eventscontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  flex-wrap: nowrap;
}

.banner img {
  max-width: 100%;
  border-radius: 20px;
}

.eventtitle {
  padding: 15px;
  background-color: rgb(218, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.aboutpage h1 {
  color: rgb(8, 165, 171);
  font-size: 5em;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  animation: fadein 2s;
}

.aboutpage h2 {
  padding-bottom: 45px;
  font-size: 3em;
  color: #00070a;
  font-family: "poetsen one", sans-serif;
  font-style: normal;
}

.aboutpage h3 {
  flex: 1;
  font-size: 2em;
  color: rgb(8, 165, 171);
  font-family: "poetsen one";
  font-style: normal;
}

.aboutpage p {
  font-family:'Trebuchet MS', sans-serif;
  flex: 1;
  padding-right: 10px;
  font-weight:700;
  font-size: 1.5em;

}

footer {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(218, 255, 255);
}

footer p {
  font-size: 1em;
}

footer a img {
  height: 60px; /* Adjust image height as needed */
  width: auto;
  padding: 10px;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    top: 5px;
    left: 20px;
    height: 60px;
  }
}
