* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.balloons {
  background-size: cover;
  position: relative;
}


nav {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items to the right */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  background-color: rgb(255, 246, 114);
  padding: 2.1em;
  height: fit-content;
  }

nav ul {
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for the list */
}

nav li {
  align-items: center;
  margin-left: 10px; /* Add spacing between list items */
  word-spacing: 1em;
}

.logo{
    height: 5%;
    width: auto;
    align-self: flex-start;
}


nav a:hover {
  background-color: #74e4da; /* Set link color */
  padding: 1em;
  text-decoration: none; /* Remove underline from links */
}


.balloons img {
  width: 100%;
  height: 0%;
  align-items: center;

}

.banner img {
  max-width: 100%;
  height: 5%;
}

.aboutpage{
  background: linear-gradient(to bottom, white, rgb(8, 231, 231));
}

.eventscontainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}


/* Apply styles to headings */
.aboutpage h1{
  padding: 1%;
  color: rgb(0, 174, 180);
  padding: auto;
  font-size: 5em;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

.aboutpage h2 {
  font-size: 3em;
  color: #00070a; /* Change text color */
  font-family: "poetsen one", sans-serif;
  font-style: normal;
}

.aboutpage h3 {
  font-size: 2em; /* Adjust font size for h3 */
  color: #000000; /* Change text color */
  font-family: "poetsen one";
  font-optical-sizing: auto;
  font-style: normal;
}

/* Apply styles to paragraphs */
.aboutpage p {
  padding-top: 2%;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
}
