* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.balloons {
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
} 

.logo img{
  position: absolute;
  top: 10px;
  left: 30px;
  height: 80px;
  width: auto;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
  -webkit-filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px;
  
}

nav a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-right: 15px; 
  margin-left: 0;
  text-decoration: none;
  font-size: 20px;
  color: rgb(2, 153, 176);
  padding: 14px 14px;
}

nav a:hover {
  background-color: #fff700;
  text-decoration: none;
} 

.balloons img {
  width: 100%;
  height: auto;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: 5%;
  bottom: 0%;
}

/*header, nav bar*/



.aboutpage {
  background: linear-gradient(to bottom, rgb(226, 253, 255), rgba(8, 231, 231, 0.612));
}

.eventscontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  flex-wrap: nowrap;
}

.eventtitle {
  flex-direction: column;
}

.aboutpage h1 {
  color: rgb(0, 174, 180);
  font-size: 5em;
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

.aboutpage h2 {
  font-size: 3em;
  color: #00070a;
  font-family: "poetsen one", sans-serif;
  font-style: normal;
}

.aboutpage h3 {
  font-size: 2em; /* Adjust font size for h3 */
  color: #000000; /* Change text color */
  font-family: "poetsen one";
  font-style: normal;
}

/* Apply styles to paragraphs */
.aboutpage p {
  padding-top: 2%;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
}

