* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.balloons {
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
} 

.logo img{
  position: absolute;
  top: 10px;
  left: 30px;
  height: 80px;
  width: auto;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
  -webkit-filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px;
  
}

nav a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-right: 15px; 
  margin-left: 0;
  text-decoration: none;
  font-size: 20px;
  color: rgb(2, 153, 176);
  padding: 14px 14px;
}

nav a:hover {
  background-color: #fff700;
  text-decoration: none;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
} 

/*nav*/

.balloons img {
  width: 100%;
  height: auto;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: 5%;
  bottom: 0%;
}

.donatepage{
  background: linear-gradient(to bottom, white, rgb(8, 231, 231));
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.donateabout {
  flex-direction: row;
  width: 100%;
  padding: 10%;
  font-family: 'Trebuchet MS', sans-serif;
  flex: auto;
  font-weight: 700;
  font-size: 1.5em;
}

h2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: lighter;
  color:black;
  letter-spacing: 1.3px;
  padding: 40px 10px;
}

.donate-heading,
.give-heading,
.volunteer-heading {
  display: inline-block;
  width: 250px;
  height: 120px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
}

.donate-heading {
  background-color: rgb(67, 223, 192);
}

.give-heading {
  background-color: rgba(210, 19, 197, 0.751);
}

.volunteer-heading {
  background-color: rgb(243, 217, 20);
}

.donate-heading:hover {
  background-color: rgb(31, 235, 194);
}

.give-heading:hover {
  background-color: rgb(218, 10, 221);
}

.volunteer-heading:hover {
  background-color: rgb(255, 234, 75);
}

.donate-heading:hover,
.give-heading:hover,
.volunteer-heading:hover {
  transform: scale(1.05); 
}


/*footer*/

footer {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(218, 255, 255);
}

footer p {
  font-size: 1em;
}

footer a img {
  height: 60px;
  width: auto;
  padding: 10px;
}
