* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.balloons {
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
} 

.logo img{
  position: absolute;
  top: 10px;
  left: 30px;
  height: 80px;
  width: auto;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
  -webkit-filter: drop-shadow(3px 3px 3px rgba(19, 173, 215, 0.50));
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px;
  
}

nav a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-right: 15px; 
  margin-left: 0;
  text-decoration: none;
  font-size: 20px;
  color: rgb(2, 153, 176);
  padding: 14px 14px;
}

nav a:hover {
  background-color: #fff700;
  text-decoration: none;
} 

.balloons img {
  width: 100%;
  height: auto;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: 5%;
  bottom: 0%;
}

.donatepage{
  background: linear-gradient(to bottom, white, rgb(8, 231, 231));
}